.hakkimizda{
    text-align: center;
    h2{
        color:whitesmoke;
        text-align: center;
        margin: 20px;
        font-size: xx-large;
    }
    img{
        width: 600px;
        box-shadow: 0 0 10px #fad87d;        
    }
    p{
        color: whitesmoke;
        margin: 20px;
        
    }
   
}