*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer{
    position:sticky;
    top: 1000px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    height: 100px;
    background-color: #1b252b;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 10px #fad87d;
    .ust{

        display: flex;
        justify-content:space-evenly;       
    }

    .alt{
        padding: 20px;
        font-size: smaller;
        font-style: italic;
        color: whitesmoke;
    }
}


.pi{
    font-size: 20px;
    border-radius: 5px;
}
.pi-facebook{
    color: blue;
    background-color: whitesmoke;
}
.pi-instagram{
    color:crimson;
}
.pi-twitter{
    color:black;
    background-color: whitesmoke;
}
.pi-github{
    color:black;
    background-color: whitesmoke;
}
.pi-linkedin{
    color:blue;
    background-color: whitesmoke;
}