.container-form{
    display: flex;
    justify-content: space-around;
    text-align: center;
    // border-radius: 50px;
    // box-shadow:0 0 10px #fad87d;
    background-color: #1b252b;
    
}

form{
    background: #1b252b;
    color: #fad87d;
    width: 400px;
    margin: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px 50px 20px;
    position: relative;
    box-shadow: 0 0 10px #fad87d;
    input,select,textarea{
        display: block;
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid whitesmoke;
        margin-bottom: 10px;
        font-family: "Lato", sans-serif;
        background: whitesmoke;
        &:focus{
            outline: 2px solid #fad87d;
        }
    }
    input[type='submit']{
        color: #1b252b;
        cursor: pointer;
        &:hover{
            background-color: #fad87d;
            color: #1b252b;
            text-decoration: none;
        }
        &:disabled{
            color:red;
            cursor:default;
            &:hover{
                background-color: red;
                color: whitesmoke;
                text-decoration: none;
                
            }
        }
    }
}
img{
    width: 400px;
}
